# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

rgf_hd.1
test/output
test/sample/*
!test/sample/train.data.x
!test/sample/train.data.y
!test/sample/train.inp
!test/sample/train.inp
!test/sample/msd_01.inp
!test/sample/msd_02.inp
bin/
obj/
rgf.sublime*

.cproject
.project
*.log
